* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1A2130;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

#heading {
    color:whitesmoke;
    font-size: 32px;
    text-align: center;
    margin-top: 10px;
}

#leaderboard {
    color:whitesmoke;
    font-size: 28px;
    margin-left: 48px;
    margin-bottom: 10px;
}


#scores {
    font-size: 20px;
    font-weight: bold;
}

#result {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: center;
    font-style: italic;
}

#result button {
    padding: 10px 20px;
    background-color: #ffc83d;
    border: 1px solid #1A2130;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    display: none;
}

#game {
    display: flex;
    justify-content: space-evenly;
    color: whitesmoke;
}

#game h1 {
    font-size: xx-large;
}

#human, #computer {
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 32px;
    text-align: center;
}

#choices {
    display: flex;
}

.choice {
    border: 1px solid whitesmoke;
    border-radius: 10px;
    font-size: 180px;
    margin: 0 10px;
    height: 250px;
    width: 250px;
}

#human .choice:hover {
    cursor: pointer;
    background-color: #4e5669;
    transition: all .3s;
}
